.timeline-main {
    background-color: #1c1f35;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .4);
    position: relative
}

.timeline-main>h2 {
    color: #fff
}

h2 {
    font-size: 2rem;
    font-weight: 100;
    text-align: center
}

.timeline-image {
    -webkit-filter: FlipH;
    filter: FlipH;
    -ms-filter: "FlipH";
    float: none;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1)
}

.timeline {
    flex-direction: column;
    margin: 0 auto
}

.timeline,
.timeline__event {
    display: flex;
    position: relative
}

.timeline__event {
    align-self: center;
    border-radius: 6px;
    margin: 20px 0;
    width: 50vw
}

.timeline__event:nth-child(odd) {
    flex-direction: row-reverse
}

.timeline__event:nth-child(odd) .timeline__event__date {
    border-radius: 0 6px 6px 0
}

.timeline__event:nth-child(odd) .timeline__event__content {
    border-radius: 6px 0 0 6px
}

.timeline__event:nth-child(odd) .timeline__event__icon:before {
    -webkit-animation: fillTop 2s ease-in-out 4s forwards;
    animation: fillTop 2s ease-in-out 4s forwards;
    background: #f6a4ec;
    content: "";
    height: 100%;
    left: 50%;
    position: absolute;
    right: auto;
    top: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 2px;
    z-index: -1
}

.timeline__event:nth-child(odd) .timeline__event__icon:after {
    -webkit-animation: fillLeft 2s ease-in-out 4s forwards;
    animation: fillLeft 2s ease-in-out 4s forwards;
    background: #f6a4ec;
    content: "";
    height: 2px;
    left: auto;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    z-index: -1
}

.timeline__event__title {
    color: #9251ac;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 1.4;
    text-transform: uppercase
}

.timeline__event__content {
    background: #191a29;
    border-radius: 0 6px 6px 0;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, .25), 0 18px 36px -18px rgba(0, 0, 0, .3), 0 -12px 36px -8px rgba(0, 0, 0, .025);
    font-size: 10px;
    padding: 3px;
    width: calc(40vw - 84px)
}

.timeline__event__date {
    background: #9251ac;
    border-radius: 6px 0 0 6px;
    color: #f6a4ec;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0 20px;
    white-space: nowrap
}

.timeline__event__date,
.timeline__event__icon {
    align-items: center;
    display: flex;
    justify-content: center
}

.timeline__event__icon {
    align-self: center;
    background: #f6a4ec;
    border-radius: 100%;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, .25), 0 18px 36px -18px rgba(0, 0, 0, .3), 0 -12px 36px -8px rgba(0, 0, 0, .025);
    color: #9251ac;
    height: 40px;
    margin: 0 20px;
    padding: 40px;
    position: relative;
    width: 40px
}

.timeline__event__icon i {
    font-size: 32px
}

.timeline__event__icon:before {
    -webkit-animation: fillTop 2s ease-in-out 4s forwards;
    animation: fillTop 2s ease-in-out 4s forwards;
    background: #f6a4ec;
    content: "";
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 2px;
    z-index: -1
}

.timeline__event__icon:after {
    -webkit-animation: fillLeftOdd 2s ease-in-out 4s forwards;
    animation: fillLeftOdd 2s ease-in-out 4s forwards;
    background: #f6a4ec;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    z-index: -1
}

.timeline__event__description {
    align-items: center;
    color: #fff;
    display: flex;
    flex-basis: 60%;
    font-size: 1rem !important;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 1.3rem;
    padding: 0
}

.timeline__event--type2:after {
    background: #555ac0
}

.timeline__event--type2 .timeline__event__date {
    background: #555ac0;
    color: #87bbfe
}

.timeline__event--type2:nth-child(odd) .timeline__event__icon:after,
.timeline__event--type2:nth-child(odd) .timeline__event__icon:before {
    background: #87bbfe
}

.timeline__event--type2 .timeline__event__icon {
    background: #87bbfe;
    color: #555ac0
}

.timeline__event--type2 .timeline__event__icon:after,
.timeline__event--type2 .timeline__event__icon:before {
    background: #87bbfe
}

.timeline__event--type2 .timeline__event__title {
    color: #555ac0
}

.timeline__event--type3:after {
    background: #24b47e
}

.timeline__event--type3 .timeline__event__date {
    background-color: #24b47e;
    color: #aff1b6
}

.timeline__event--type3:nth-child(odd) .timeline__event__icon:after,
.timeline__event--type3:nth-child(odd) .timeline__event__icon:before {
    background: #aff1b6
}

.timeline__event--type3 .timeline__event__icon {
    background: #aff1b6;
    color: #24b47e
}

.timeline__event--type3 .timeline__event__icon:after,
.timeline__event--type3 .timeline__event__icon:before {
    background: #aff1b6
}

.timeline__event--type3 .timeline__event__title {
    color: #24b47e
}

.timeline__event:last-child .timeline__event__icon:before {
    content: none
}

@media(max-width:786px) {
    .timeline__event__description {
        font-size: .8rem !important
    }

    .timeline__event__title {
        text-align: center
    }

    .timeline__event {
        align-self: center;
        flex-direction: column
    }

    .timeline__event__content {
        border-radius: 0 0 6px 6px !important;
        text-align: center;
        width: 100%
    }

    .timeline__event__icon {
        border-radius: 6px 6px 0 0;
        box-shadow: none;
        margin: 0;
        width: 100%
    }

    .timeline__event__icon:after,
    .timeline__event__icon:before {
        display: none
    }

    .timeline__event__date {
        border-radius: 0;
        padding: 20px
    }

    .timeline__event:nth-child(odd) {
        align-self: center;
        flex-direction: column
    }

    .timeline__event:nth-child(odd) .timeline__event__date {
        border-radius: 0;
        padding: 20px
    }

    .timeline__event:nth-child(odd) .timeline__event__icon {
        border-radius: 6px 6px 0 0;
        margin: 0
    }
}

@-webkit-keyframes fillLeft {
    to {
        right: 100%
    }
}

@keyframes fillLeft {
    to {
        right: 100%
    }
}

@-webkit-keyframes fillTop {
    to {
        top: 100%
    }
}

@keyframes fillTop {
    to {
        top: 100%
    }
}

@-webkit-keyframes fillLeftOdd {
    to {
        left: 100%
    }
}

@keyframes fillLeftOdd {
    to {
        left: 100%
    }
}