* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: #1c1f35;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #191a29;
}

::-webkit-scrollbar-track {
    background: #87bbfe;
}

.navbar {
    position: fixed;
    z-index: 100;
    width: 100%;
    background: transparent !important;
}

.nav-link {
    font-family: monospace;
    color: rgb(209, 205, 205) !important;
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.about span {
    color: white;
}

.about .logo {
    text-align: center;
}

#particles-js {
    width: 100%;
    height: 100%;
    background: #1c1f35;
    position: absolute;
}

.container-code {
    text-align: center;
    color: #eee;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-code h1 {
    font-size: 4rem;
}

.container-code p {
    font-size: 2rem;
    padding: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
}

.container-code p span.typed-text {
    font-weight: normal;
    color: #dd7732;
}

span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
}

span.cursor.typing {
    animation: none;
}

@keyframes blink {
    0% {
        background-color: #ccc;
    }

    49% {
        background-color: #ccc;
    }

    50% {
        background-color: transparent;
    }

    99% {
        background-color: transparent;
    }

    100% {
        background-color: #ccc;
    }
}

.test {
    display: flex;
    color: white !important;
    /* font-family: Arial, Helvetica, sans-serif !important; */
    font-family: 'Ubuntu', sans-serif !important;
    letter-spacing: 6px !important;
    font-size: 40px !important;
    font-weight: 600 !important;
}

.test::before {
    content: "NIT Silchar";
    position: absolute;
    color: rgba(255, 255, 255, 0.246);
    font-size: 50px;
    margin-top: -10px;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* font-family: 'Anton', sans-serif !important; */
    font-family: 'Ubuntu', sans-serif !important;
    left: 50%;
    transform: translate(-50%);
    font-weight: 400;
    text-align: center;
    margin-top: -60px;
    margin: left -30px;
    left: -40px;
}

.landing-main {
    /* making the background a bit dark  */
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);

    /* animation: transitionIn 1.5s; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1c1f35;
    /* background-image: url("../../images/background.png"); */
    background-size: cover;
    background-position: center;
    min-height: 100%;
    /* position: relative; */
}


.name-2 {
    /* animation: transitionIn 1.5s; */
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 15rem; */
    height: 4rem;
    /* background-color: rgba(83,93,161,0.8); */
    color: white;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 1000;
    letter-spacing: 4px;
}

@media only screen and (min-width: 992px) {

    .test {
        color: white !important;
        font-family: Arial, Helvetica, sans-serif !important;
        letter-spacing: 6px !important;
        font-size: 80px !important;
        font-weight: 800 !important;
    }

    .test::before {
        content: "NIT Silchar";
        position: absolute;
        color: rgba(255, 255, 255, 0.246);
        font-size: 50px;
        margin-top: -10px;
        left: 50%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 400;
        transform: translate(-50%);
        text-align: center;
    }

    /* .name:hover{
    color: rgba(83,93,161,0.8);
    background-color: white;
    transition: 0.5s;
    } */

    .name-2 {
        /* animation: transitionIn 1.5s; */
        margin: 1rem auto;
        display: flex;
        justify-content: center;
        align-items: center;
        /* width: 15rem; */
        height: 4rem;
        /* background-color: rgba(83,93,161,0.8); */
        color: white;
        border-radius: 10px;
        font-size: 25px;
        font-weight: 1000;
        letter-spacing: 4px;
    }

}

.landing-main {
    height: 100vh;
    background-color: #1c1f35;
}


@media only screen and (max-width: 992px) {

    .test::before {
        top: 50%;
        font-size: 40px;
        left: 50%;
        transform: translate(-50%);
        margin-top: -90px;
    }
}

.section-text {
    color: rgba(83, 93, 161, .8);
    font-weight: 1000;
    text-align: start;
}

.timeline-main {
    background-color: #1c1f35;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .4);
    position: relative
}

.timeline-main>h2 {
    color: #fff
}

h2 {
    font-size: 2rem;
    font-weight: 100;
    text-align: center
}

.timeline-image {
    -webkit-filter: FlipH;
    filter: FlipH;
    -ms-filter: "FlipH";
    float: none;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1)
}

.timeline {
    flex-direction: column;
    margin: 0 auto
}

.timeline,
.timeline__event {
    display: flex;
    position: relative
}

.timeline__event {
    align-self: center;
    border-radius: 6px;
    margin: 20px 0;
    width: 50vw
}

.timeline__event:nth-child(odd) {
    flex-direction: row-reverse
}

.timeline__event:nth-child(odd) .timeline__event__date {
    border-radius: 0 6px 6px 0
}

.timeline__event:nth-child(odd) .timeline__event__content {
    border-radius: 6px 0 0 6px
}

.timeline__event:nth-child(odd) .timeline__event__icon:before {
    -webkit-animation: fillTop 2s ease-in-out 4s forwards;
    animation: fillTop 2s ease-in-out 4s forwards;
    background: #f6a4ec;
    content: "";
    height: 100%;
    left: 50%;
    position: absolute;
    right: auto;
    top: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 2px;
    z-index: -1
}

.timeline__event:nth-child(odd) .timeline__event__icon:after {
    -webkit-animation: fillLeft 2s ease-in-out 4s forwards;
    animation: fillLeft 2s ease-in-out 4s forwards;
    background: #f6a4ec;
    content: "";
    height: 2px;
    left: auto;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    z-index: -1
}

.timeline__event__title {
    color: #9251ac;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 1.4;
    text-transform: uppercase
}

.timeline__event__content {
    background: #191a29;
    border-radius: 0 6px 6px 0;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, .25), 0 18px 36px -18px rgba(0, 0, 0, .3), 0 -12px 36px -8px rgba(0, 0, 0, .025);
    font-size: 10px;
    padding: 3px;
    width: calc(40vw - 84px)
}

.timeline__event__date {
    background: #9251ac;
    border-radius: 6px 0 0 6px;
    color: #f6a4ec;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0 20px;
    white-space: nowrap
}

.timeline__event__date,
.timeline__event__icon {
    align-items: center;
    display: flex;
    justify-content: center
}

.timeline__event__icon {
    align-self: center;
    background: #f6a4ec;
    border-radius: 100%;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, .25), 0 18px 36px -18px rgba(0, 0, 0, .3), 0 -12px 36px -8px rgba(0, 0, 0, .025);
    color: #9251ac;
    height: 40px;
    margin: 0 20px;
    padding: 40px;
    position: relative;
    width: 40px
}

.timeline__event__icon i {
    font-size: 32px
}

.timeline__event__icon:before {
    -webkit-animation: fillTop 2s ease-in-out 4s forwards;
    animation: fillTop 2s ease-in-out 4s forwards;
    background: #f6a4ec;
    content: "";
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 2px;
    z-index: -1
}

.timeline__event__icon:after {
    -webkit-animation: fillLeftOdd 2s ease-in-out 4s forwards;
    animation: fillLeftOdd 2s ease-in-out 4s forwards;
    background: #f6a4ec;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    z-index: -1
}

.timeline__event__description {
    align-items: center;
    color: #fff;
    display: flex;
    flex-basis: 60%;
    font-size: 1rem !important;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 1.3rem;
    padding: 0
}

.timeline__event--type2:after {
    background: #555ac0
}

.timeline__event--type2 .timeline__event__date {
    background: #555ac0;
    color: #87bbfe
}

.timeline__event--type2:nth-child(odd) .timeline__event__icon:after,
.timeline__event--type2:nth-child(odd) .timeline__event__icon:before {
    background: #87bbfe
}

.timeline__event--type2 .timeline__event__icon {
    background: #87bbfe;
    color: #555ac0
}

.timeline__event--type2 .timeline__event__icon:after,
.timeline__event--type2 .timeline__event__icon:before {
    background: #87bbfe
}

.timeline__event--type2 .timeline__event__title {
    color: #555ac0
}

.timeline__event--type3:after {
    background: #24b47e
}

.timeline__event--type3 .timeline__event__date {
    background-color: #24b47e;
    color: #aff1b6
}

.timeline__event--type3:nth-child(odd) .timeline__event__icon:after,
.timeline__event--type3:nth-child(odd) .timeline__event__icon:before {
    background: #aff1b6
}

.timeline__event--type3 .timeline__event__icon {
    background: #aff1b6;
    color: #24b47e
}

.timeline__event--type3 .timeline__event__icon:after,
.timeline__event--type3 .timeline__event__icon:before {
    background: #aff1b6
}

.timeline__event--type3 .timeline__event__title {
    color: #24b47e
}

.timeline__event:last-child .timeline__event__icon:before {
    content: none
}

@media(max-width:786px) {
    .timeline__event__description {
        font-size: .8rem !important
    }

    .timeline__event__title {
        text-align: center
    }

    .timeline__event {
        align-self: center;
        flex-direction: column
    }

    .timeline__event__content {
        border-radius: 0 0 6px 6px !important;
        text-align: center;
        width: 100%
    }

    .timeline__event__icon {
        border-radius: 6px 6px 0 0;
        box-shadow: none;
        margin: 0;
        width: 100%
    }

    .timeline__event__icon:after,
    .timeline__event__icon:before {
        display: none
    }

    .timeline__event__date {
        border-radius: 0;
        padding: 20px
    }

    .timeline__event:nth-child(odd) {
        align-self: center;
        flex-direction: column
    }

    .timeline__event:nth-child(odd) .timeline__event__date {
        border-radius: 0;
        padding: 20px
    }

    .timeline__event:nth-child(odd) .timeline__event__icon {
        border-radius: 6px 6px 0 0;
        margin: 0
    }
}

@-webkit-keyframes fillLeft {
    to {
        right: 100%
    }
}

@keyframes fillLeft {
    to {
        right: 100%
    }
}

@-webkit-keyframes fillTop {
    to {
        top: 100%
    }
}

@keyframes fillTop {
    to {
        top: 100%
    }
}

@-webkit-keyframes fillLeftOdd {
    to {
        left: 100%
    }
}

@keyframes fillLeftOdd {
    to {
        left: 100%
    }
}